.auth-page-title {
   
    font-size: 8vmin
}

p.login-message {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.75vmin;
}

p.slogan {
    font-family: 'Anonymous Pro', monospace;
    text-decoration: line-through;
    text-decoration-style: solid;
    text-decoration-color: rgb(212, 31, 116);
    font-size: 3vmin
}

.auth-page {
    background-image: url('https://i.imgur.com/FHRubcL.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh; 
    
}

main.auth-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-option-btn {
    margin: 0 auto;
    background-color: rgba(251, 192, 238, 0.93);
    color: white;
    border: none;
    padding: 0.75vmin;
}

.login-option-btn:hover {
    transform: scale(1.2);
}

p.error-message {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vmin;
    margin: 0;
}

.Planner-Logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999; /* Set a high value to make it appear on top of other elements */
    height: 11vmin;
    width: 8vmin;
    margin-left: 1vmin;
    filter: drop-shadow(4vmin 2vmin 1vmin #5e5e5e41);
    animation-name: floating;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(2vmin, 0.5vmin); }
    100%   { transform: translate(0, -0px); }   
}